form {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.form-control {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0 0rem 2rem;
    flex-direction: column;
    position: relative;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input, .form-control select {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.form-control textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.input-error {
    border:1px solid rgba(255, 0, 0, 0.75);
}

.form-control p {
    display: flex;
    position: absolute;
    color:rgba(255, 0, 0, 0.75);
    font-size: 1rem;
    font-weight: 400;
    z-index: 10;
    bottom: 0.5rem;
    left: 10;
}

.form-group {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

form .box-image {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
    min-height: 220px;
    min-width: 240px;
    overflow: auto;
}

form .box-image .image {
    display: block;
    max-width: 200px;
    max-height: 200px;
    position: relative;
}

form .box-image .image button {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background: none;
    border: none;
    color:rgb(253, 72, 72);
    left: 20px;
    bottom: 20px;
    transition: ease-out 0.3s;
    cursor: pointer;
}

form .box-image .image button:hover {
    color:rgb(178, 48, 48);
}

form .box-image .image button svg {
    width: 40px;
    height: 40px;
}

form .box-image img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}

form .btn-file {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    height: 50px;
}

form .btn-file svg {
    min-width: 100px;
    color: var(--secondary-color);
}

#image {
    display: none;
}

form ::-webkit-scrollbar {
    width: 20px;
    height: 15px;
}

form ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(128, 128, 128, 0.5);
    border-radius: 0px;
}

form ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

form ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 766px) {
    form {
        padding: 0;
    }

    .form-control {
        padding: 0 0 1.5rem;
    }

    .form-group {
        flex-direction: column;
        padding: 0;
    }
    .form-control p {
        bottom: 3px;
    }

    form .box-image {
        flex-direction: column;
        max-width: 100%;
        margin: 30px 0;
        height: auto;
        max-height: none;
    }

    form .box-image img {
        max-width: 100%;
        max-height: 100%;
    }

    .form-group .button-box {
        margin: 1rem auto;
    }
}