.description {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 0px 25px 5%;
    text-justify: inter-cluster;
    word-spacing: 5px;
    line-height: 1.5rem;
    cursor: default;
}

@media screen and (max-width:576px) {
    .description {
        text-align: left;
        padding: 20px auto 25px;
    }
}