.box {
    display: flex;
    background-color: var(--background-color);
}

.box div {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}


.description {
    text-align: center;
    margin: auto;
    max-width: 700px;

}

.sweety {
    text-align: center;
    margin: auto;
    max-width: 700px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

.box a {
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 0px;
}

@media screen and (max-width:576px) {
    .description {
        text-align: left;
        padding: 20px 0 25px;     
    }
}  