.subtotal {
    display: flex;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 0;
}

.subtotal span {
    display: flex;
    justify-self: right;
    margin-left: auto;
    margin-right: 0;
}


.total {
    display: flex;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 0;
}

.total span {
    display: flex;
    justify-self: right;
    margin-left: auto;
    margin-right: 0;
}