.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin: 2rem auto;
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 500;
    cursor: default;
}


@media screen and (max-width: 766px) {
    .title {
        justify-content: center;
    }
}