.image-box {
    display: inline;
    width: 100%;
    max-width: 400px;
    height: auto;
    position: relative;
}

.image-box .outline {
    border-radius: 0;
    border: 5px solid var(--primary-color);
    width: 100%;
    max-width: 200px;
    height: 300px;
    position:absolute;
    z-index: 10;
    top: -50px;
    left: -50px;
}
img {
    display: block;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 11;
}

.image-box .box {
    width: 200px;
    height: 300px;
    margin: auto 0 0 auto;
    background: linear-gradient(#cff9ec, #90e9cf);
    position: absolute;
    z-index: 10;
    right:  -90px;
    bottom: -90px;
} 


.image-box .box p {
    background: -webkit-linear-gradient(360deg, #a1f1da, #d3faee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7.5rem;
    font-weight: 700;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 75px;
    right: -105px;
}