.latestBlog {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.box {
    display: flex;
    width: 100%;
}
.box .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.title {
    display: block;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.stitle {
    margin-top: 0px;
}

.imagebox {
    margin: 50px 50px 90px auto;
}

.button {
    margin: 0 8px 0 auto;
}

.text {
    color: red;
    background-color: blue;
}

.text h3 {
    color: red;
    font-size: 50px;
    opacity: 1;
}

.col {
    padding-left: 70px;
    padding: 0 70px;
    margin:auto;
}

.col p {
    max-height: 160px;
    overflow: hidden;
    margin-bottom: 20px;
}

.each_slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each_slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }