.box {
    display: flex;
}
.box .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.title {
    display: block;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.stitle {
    margin-top: 0px;
}

.imagebox {
    margin: 50px auto auto 50px;
}

.button {
    margin: 0 8px 0 auto;
}