@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import "./shared/style/form.css";
@import "./shared/style/modal.css";
@import "./shared/style/table.css";

:root {
  --primary-color: #e9e9e9;
  --secondary-color: #82f4d3;
  --font-color: #363639;
  --background-color: #f8f8f8;
  --button-hover: #90e9cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.h3 {
  font-size: 1.2rem;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding: 100px 0;
  display: block;
  margin: auto;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.col-50 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}


.col-16 {
  display: flex;
  flex-direction: column;
  width: 16.66%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 2rem 0px;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .col-16 {
    width: 100%;
    justify-content: center;
  }

  .col-50 {
    width: 100%;
    padding: 0 1rem;
  }
}