.title {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.description {
    text-align: left;
}

.imagebox {
    margin: auto 0 auto auto;
}

.button {
    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width:1462px) {
    .imagebox div { 
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .button {
        margin: auto;
    }
}