.row {
    justify-content: center;
    align-items: center;
}

.title {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.description {
    text-align: left;
}

.imagebox {
    margin: auto 0 auto auto;
}