.msg_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 3rem 0;
}

.msg_title {
    text-align: center;
}

.msg_box p span {
    font-weight: 500;
    font-size: 1.2rem;
}