.col {
    align-items:flex-start;
}

.button {
    margin-top: 50px;
}

.image { 
    width: 100%;
}

@media screen and (min-width: 767px) {
    .col p , .button{
        display: flex;
        margin-left: 0;
        margin-right: auto;
    }
}

